<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:ehcache="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd
     	 http://www.springframework.org/schema/aop 
     	 http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
     	 http://www.springframework.org/schema/tx
     	 http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     	 http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring 
     	 http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring/ehcache-spring-1.1.xsd
     	 http://cxf.apache.org/jaxws 
         http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<context:annotation-config />
	<context:component-scan base-package="com.wd" />

	<bean id='SpringContextUtil' class='com.wd.util.SpringContextUtil' />
	<context:property-placeholder location="classpath:journal_navication_mail.properties,classpath:proxies.properties" />

	<!-- 直接使用Google -->
	<bean id="googleQueryModule" class="com.wd.module.http.google.GoogleQueryModule">
		<property name="queryStringBuilder">
			<bean class="com.wd.module.http.google.GoogleQueryStringBuilder"></bean>
		</property>
		<property name="documentParser">
			<bean class="com.wd.module.http.google.GoogleDocumentParser"></bean>
		</property>
	</bean>
	
	<bean id="queryModule" class="com.wd.module.http.HttpQueryModuleDecorator" ><!-- init-method="init" -->
		<property name="googleQuery" ref="googleQueryModule"></property>
	</bean>

	<bean id="httpModule" class="com.wd.module.HttpModule">
		<property name="httpQueryModule" ref="queryModule"/>
	</bean>
	
	<bean id="validateQuartzTask" class="com.wd.task.quartz.ValidateQuartzTask"> <!-- init-method="init" -->
	</bean>
	
	
	<!-- 任务调度工厂 ，用于管理触发器 -->
	<bean id="pollingFaction"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean"
		destroy-method="destroy">
		<property name="triggers">
			<!-- 当有多个触发器是填写在这里 -->
			<list>
				<ref local="quartzReloadCacheTrigger" />
			</list>
		</property>
	</bean>

	<!-- 触发器 -->
	<bean id="quartzReloadCacheTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="quartzReloadCacheBean" />
		<!-- 每23小时59分钟触发一次 -->
		<property name="cronExpression" value="0 30 0/06 * * ?" />
	</bean>

	<!-- 任务类 -->
	<!-- 缓存重加载任务 -->
	<bean id="quartzReloadCacheBean"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="validateQuartzTask" />
		<property name="targetMethod" value="execute" />
	</bean>
	

	<bean id="searchForWebService" class="com.wd.service.impl.SearchForWebServiceImpl">
		<property name="httpModule" ref="httpModule" />
	</bean>

	<jaxws:server id="webServiceSearch" serviceClass="com.wd.service.SearchForWebServiceI" address="/searchWS">
		<jaxws:serviceBean>
			<ref bean="searchForWebService" />
		</jaxws:serviceBean>
	</jaxws:server>
	
</beans>